# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\FloFlo-PC\Documents\FAC\M1\S1\GL\Projet_Pac_Man\Equipe_26_Iteration5\Pac-Man\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
